/*h2 {
    font-family: Verdana, sans-serif;
    margin: 0 0 10px 0;
    font-size: 16px;
}

label {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
}

.form-group {
    padding-bottom: 10px;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    height: 30px;
    padding: 5px 10px;
    outline: none;
}

.btn {
    background: #c03f3d;
}

#login-container {
    margin: 0 auto;
    width: 300px;
    border: 1px solid #f1f1f1;
    padding: 10px;
    background: #fafafa;
    box-sizing: border-box;
}*/
